*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
.about{
    color: purple;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: purple;
    font-weight: 1000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.logo:hover{
    color: blueviolet;
    transform: scale(1.01);
}
nav a{
    font-size: 1.8rem;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
    margin-left: 5rem;
}
nav a:hover,nav a.active{
    color: purple;
}
.text{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: purple;
    font-size: large;
}
.head-container {
    height: 30vh;
    width: 100%;
    background-image: url(/imgs/pexels-freestocks-1122528.jpg); 
    background-position: 30%;
}
.about-container{
    display: flex;
    height: 100%;
    margin-top: 15vh;
    margin-left: 10vh;
    margin-right: 10vh;
}
.display img{
    height: 70vh;
    border-radius: 2px;
}
.about-text {
    margin-top: 50px;
    margin-left: 50px;  
    margin-right: 50px;  
}
.about-text span{
    font-size: large;
    letter-spacing: 1px;
}

