*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
.skills{
    color: purple;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: purple;
    font-weight: 1000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.logo:hover{
    color: blueviolet;
    transform: scale(1.01);
}
nav a{
    font-size: 1.8rem;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
    margin-left: 5rem;
}
nav a:hover,nav a.active{
    color: purple;
}
.head-container {
    height: 30vh;
    width: 100%;
    background-image: url(imgs/konwaricoder.jpg); 
    background-position: 50%;
}
.text{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: x-large;
}
.skill-container{
    display: flex;
    justify-content: center;
    margin-top: 20vh;

}
.title1{
    margin-left: 70px;
    margin-top: 40vh;
    font-size: large;
}
h3{
    margin-top: 10vh;
    margin-left: 70px;
    font-size: medium;
}
.images-container {
    margin-top: 2vh;
    margin-left: 70px;
    display: grid;
    grid-template-columns: auto auto auto;;
    gap: 30px;
}
.images-container img{
    height: 30vh;
    transition: 1s ease-in-out;
}
.images-container img:hover{
    transform: scale(1.5);
}
.images-container2 {
    margin-top: 2vh;
    margin-left: 70px;
    display: grid;
    grid-template-columns: auto auto auto;;
    gap: 30px;
}
.images-container2 img{
    height: 30vh;
    transition: 1s ease-in-out;
}
.images-container2 img:hover{
    transform: scale(1.5);
}
.title2{
    margin-top: 30vh;
    margin-bottom: 2vh;
    margin-left: 70px;
    font-size: large;
}
.images-container3 {
    margin-top: 2vh;
    margin-left: 70px;
    display: grid;
    grid-template-columns: auto auto auto;;
    gap: 30px;
}
.images-container3 img{
    height: 30vh;
    transition: 1s ease-in-out;
}
.images-container3 img:hover{
    transform: scale(1.5);
}
.title3{
    height: 20%;
    margin-top: 30vh;
    margin-bottom: 2vh;
    margin-left: 70px;
    font-size: large;
}
h2{
    transition: ease-in-out 0.5s;
}
h2:hover{
    color: purple;
}