*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    margin-bottom: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
.home1{
    color: purple;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: purple;
    font-weight: 1000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.logo:hover{
    color: blueviolet;
    transform: scale(1.01);
}
nav a{
    font-size: 1.8rem;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
    margin-left: 5rem;
}
nav a:hover,nav a.active{
    color: purple;
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}
.home .content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color: purple;
}
.content h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.content p{
    font-size: medium;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 250px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
    transform: scale(1.1);
}
.icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid purple;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}
.icons a:hover{
    color: purple;
    transform: scale(1.3) translateY(-5px);
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}
.typing-text span::before{
    content: "a STUDENT";
    color: purple;
    animation: words 5s infinite;
}
.typing-text span::after{
    content: "";
    
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid rebeccapurple;
    }
}
@keyframes words{
    0%, 20%{
        content: "Emmanuel";
}
21%, 40%{
        content: "Εμμανουήλ";
}
41%, 60%{
        content: "Emmanuel";
}
61%, 80%{
        content: "Εμμανουήλ";
}
81%, 100%{
        content: "Emmanuel";
}
}
.glaze {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    width: 100%;
    max-width: 900px; 
    margin: 0 auto; 
    margin-top: 30px;
}

.glaze img {
    width: 100%;
    height: auto;
    border-radius: 3px; 
    object-fit: cover;
}
